@model IEnumerable<aula_19_08.Models.Aluno>

@{
    ViewData["Title"] = "Aluno";
}

<h1>Alunos</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Novo aluno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Email)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.AlunoId">Editar</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.AlunoId">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.AlunoId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
