@model IEnumerable<aula_19_08.Models.Curso>

@{
    ViewData["Title"] = "Index";
}

<h1>Cursos</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Novo curso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.CursoID">Editar</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.CursoID">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CursoID">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
